registry=https://AZURE_ARTIFACTS_FEED_URL/npm/registry/ 
always-auth=true


; begin auth token
//AZURE_ARTIFACTS_FEED_URL/npm/registry/:username=AZURE_ORGANIZATION_NAME
//AZURE_ARTIFACTS_FEED_URL/npm/registry/:_password=AZURE_ARTIFACTS_PAT_B64
//AZURE_ARTIFACTS_FEED_URL/npm/registry/:email=bb@shell.com
//AZURE_ARTIFACTS_FEED_URL/npm/:username=AZURE_ORGANIZATION_NAME
//AZURE_ARTIFACTS_FEED_URL/npm/:_password=AZURE_ARTIFACTS_PAT_B64
//AZURE_ARTIFACTS_FEED_URL/npm/:email=bb@shell.com
; end auth token