registry=https://sede-pt-digt.pkgs.visualstudio.com/2424f328-bd7e-4169-8baf-6831d2e2e350/_packaging/Blackbird/npm/registry/ 
always-auth=true


; begin auth token
//sede-pt-digt.pkgs.visualstudio.com/2424f328-bd7e-4169-8baf-6831d2e2e350/_packaging/Blackbird/npm/registry/:username=sede-pt-digt
//sede-pt-digt.pkgs.visualstudio.com/2424f328-bd7e-4169-8baf-6831d2e2e350/_packaging/Blackbird/npm/registry/:_password=BASE64_ENCODED_PERSONAL_ACCESS_TOKEN
//sede-pt-digt.pkgs.visualstudio.com/2424f328-bd7e-4169-8baf-6831d2e2e350/_packaging/Blackbird/npm/registry/:email=bb@shell.com
//sede-pt-digt.pkgs.visualstudio.com/2424f328-bd7e-4169-8baf-6831d2e2e350/_packaging/Blackbird/npm/:username=sede-pt-digt
//sede-pt-digt.pkgs.visualstudio.com/2424f328-bd7e-4169-8baf-6831d2e2e350/_packaging/Blackbird/npm/:_password=BASE64_ENCODED_PERSONAL_ACCESS_TOKEN
//sede-pt-digt.pkgs.visualstudio.com/2424f328-bd7e-4169-8baf-6831d2e2e350/_packaging/Blackbird/npm/:email=bb@shell.com
; end auth token